<ion-card>

  <ion-card-content>

      <ion-button
      expand="block"
      (click)="findLocalization()">

      Pegar localização

    </ion-button>

    @if(getLoading()){
      <p>loading...</p>
    }

    @if(getLatitude() && getLongitude()){

      <ion-card>
        <ion-card-content>

          <strong>Latitude:</strong>
          {{ getLatitude() }}

          <br>

          <strong>Longitude:</strong>
          {{ getLongitude() }}

        </ion-card-content>
      </ion-card>

    }
  </ion-card-content>
</ion-card>