<ion-card class="location-card">

    @if(getLatitude() && getLongitude()){
      <ion-card>
        <ion-card-content>
          <div id="map"></div>
        </ion-card-content>
      </ion-card>
    }

    @if(getLoading()){
      <ion-card-content>
        <p>Obtendo localização...</p>
      </ion-card-content>
    }

    @if(getError()){
      <ion-card-content>
        <p>{{ getError() }}</p>
      </ion-card-content>
    }

  @if (needsToFindLocation()) {
    <ion-card-content>
      <ion-button expand="block" (click)="findLocalization()">Pegar localização</ion-button>
    </ion-card-content>
  }

</ion-card>